<h1>BURGERS</h1>

<h2>Eat da Burger</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> cats/cat-block sleep=true}} --}}
      <li>{{burgers.buger_name}}</li>
      <li>{{burgers.devoured}}</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devour The burger</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name: </label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devoured?</label><br>
   
  </div>

  <button type="submit">Add the Burger</button>
</form>
